.uk-container-expand
  .impx-slide-container.style1.hp2
    .impx-slideshow-fw
      div(data-uk-slideshow='autoplay: true; autoplay-interval: 6000; animation: fade; finite: false ;min-height: 319; max-height: 980;')
        .uk-position-relative.uk-visible-toggle.uk-light
          ul.uk-slideshow-items
            // Slideshow Item #1
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-bottom-center
                img(src='/images/slideshow/plane-1.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            // Slideshow Item #1 End
            // Slideshow Item #2
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-center-right
                img(src='/images/slideshow/plane-2.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
            // Slideshow Item #2 End
            // Slideshow Item #3
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-center-left
                img(src='/images/slideshow/plane-3.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
            // Slideshow Item #3 End
            // Slideshow Item #4
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-bottom-right
                img(src='/images/slideshow/plane-4.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
            // Slideshow Item #4 End
            // Slideshow Item #5
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-top-center
                img(src='/images/slideshow/plane-5.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
            // Slideshow Item #5 End
          // Slideshow Nav
          a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', data-uk-slidenav-previous='', data-uk-slideshow-item='previous')
          | &#x9;&#x9;        &#x9;&#x9;&#x9;
          a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', data-uk-slidenav-next='', data-uk-slideshow-item='next')
          // Slideshow Nav End
  .container.table-route
    if (routes)
      if (routes.length === 0)
        h1.text-center.text-white Không có chuyến bay 
      else
        table.table.text-white
          thead 
            tr 
              th Mã chuyến bay
              th Sân bay đi
              th Sân bay đến
              th Ngày khởi hành
              th Ngày đến nơi
              th 
          tbody 
            if (routes)
              each route in routes
                tr 
                  td= route.code
                  td= route.depart_airport
                  td= route.arrival_airport
                  td= route.dTime
                  td= route.aTime
                  td
                    form(method="GET" action=`${link}`)
                      input(type="hidden" name="route_id" value=`${route._id}`)
                      if (type_route === 'round-trip')
                        input(type="hidden" name="round_trip_id" value=`${route.round_trip._id}`)

                      button.btn.btn-light.btn-booking(type="submit") Đặt vé 
    else 
      h1.text-center.text-white Không có chuyến bay 